<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Poppa's Pizza</title>

	<!-- Link to Javascript -->
	<script src ="js/pizza.js" defer></script>

	<!-- Favicon -->
	<link rel="Icon" href = '/images/pizza_icon.png'>

	<!-- Stylesheet -->
	<link rel = "stylesheet" href = '/styles/pizza-styles.css'>
</head>
<body>
	<main>
		<header>
			<img src="/images/mascot200.png" alt = "Pizza Mascot">
			<h1>Poppa's Pizza</h1>
			<p id = "tag-line">Serving GRC students for 50 years!</p>
			<hr>
			<p>Poppa's Pizza delivers heart-warming, handcrafted pizzas straight from our brick ovens to your stomach!</p>
			<a class = "main-button" href = "/contact-us" role = "button">Contact Us</a>
		</header>
		<form id = "pizza-form" action = "submit-order" method="post"> 

			<!-- Contact Info -->
			<fieldset>
				<legend>Contact Info</legend>
				<label for="fname">First Name:</label>
				<span id ="err-fname" class ="error">First name cannot be empty!</span>
				<input type = "text" id = "fname" name = "fname">
				<label for ="lname">Last Name:</label>
				<span id ="err-lname" class ="error">Last name cannot be empty!</span>
				<input type = "text" id = "lname" name = "lname">
				<label for ="email">Email Address:</label>
				<span id ="err-email" class ="error">Email cannot be empty!</span>
				<input type = "email" id = "email" name = "email">
			</fieldset>

			<!-- Pickup or Delivery -->
			<fieldset>
				<legend>Select Pickup or Delivery</legend>
				<span id ="err-method" class ="error">You must pick a method!</span>
				<label for="pickup">
					<input type = "radio" id = "pickup" name = "method" value = "pickup">Pickup
				</label>
				<label for="delivery">
					<input type = "radio" id = "delivery" name = "method" value = "delivery">Delivery
				</label>
			</fieldset>

			<!-- Toppings -->
			<fieldset>
				<legend>Select Toppings</legend>
				<label for="pepperoni">
					<input type = "checkbox" id = "pepperoni" name = "toppings[]" value = "pepperoni">Pepperoni
				</label>
				<label for="nuts">
					<input type = "checkbox" id = "nuts" name = "toppings[]" value = "nuts">nuts
				</label>
				<label for="pineapple">
					<input type = "checkbox" id = "pineapple" name = "toppings[]" value = "pineapple">Pineapple
				</label>
				<label for="sardines">
					<input type = "checkbox" id = "sardines" name = "toppings[]" value = "sardines">Sardines	
				</label>
			</fieldset>

			<!-- Pizza Size -->
			<fieldset>
				<legend>Pizza Size</legend>
				<select id = "size" name = "size">
					<option value="none">-- Select a Size --</option>
					<option value ="small">Small</option>
					<option value ="medium">Medium</option>
					<option value="large">Large</option>
				</select>
				<span id ="err-size" class ="error">You must pick a size!</span>
			</fieldset>

			<fieldset>
				<legend>Comment</legend>
				<label for="comment">
					<input type = "text" id = "comment" name = "comment" value = "">
				</label>
			</fieldset>
			<!-- Add an Order button -->
			<button type = "submit">Place Order</button>
		</form>
	</main>
</body>
</html>